@font-face {
    src: url("./assets/fonts/Gilroy-Semibold.ttf");
    font-family: Gilroy;
    font-weight: 700;
}

@font-face {
    src: url("./assets/fonts/Gilroy-UltraLight.ttf");
    font-family: Gilroy;
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
}